/* ChatArea.css */

.chat-area {
    background-color: #EDEDED;
    margin: 10px;
    /* padding: 10px; */
    border-radius: 10px;
    min-height: 300px;
    overflow-y: auto;
    height: 10em;
    overflow-y: auto;
  }
  
  .chat-bubble {
    display: inline-block;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
  }
  
  .user-bubble {
    background-color: #5C8374;
    text-align: right;
  }
  
  .other-bubble {
    background-color: #E0E0E0;
    text-align: left;
  }
  
